body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #d7e6c7;
  font-family:Verdana;
}
.key.highlight {
  border: 2px solid gold;
}

a{
  color: #004e42;
  text-decoration: underline;
}
a:hover {
  text-decoration:wavy underline;

}

#key-selector {
  margin: 10px;
  background-color: #004e42;
  color:rgb(240, 254, 255);
  padding: 5px;
  font-size: 1rem;
}
 
.piano-keys { /* DONT CHANGE LAYOUT; IT TOOK YOU AGES TO FIX IT */
  display: flex;
  list-style: none;
  margin-top: 40px;
}
.piano-keys .key {
  position: relative;
}

.piano-keys .black { 
  z-index: 2;
  height: 140px;
  width: 44px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background-color:rgb(52, 52, 52) ;
}
.piano-keys .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: white;
  }
.piano-keys .black.active {
  background-color:rgb(0, 0, 0) ;
}

.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
  background-color: white;
}
.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #A2A2A2;
  font-size: 1rem;
  text-align: center;
}


@media screen and (max-width: 815px) {
  .piano-keys {
    margin-top: 20px;
  }
  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }
  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
}

@media screen and (max-width: 615px) {
  .piano-keys .white {
    width: 50px;
  }
}